registry=https://artifactory.worldbank.org/artifactory/api/npm/itsdt-npm-virtual/
always-auth=true
email=bmaheshwari@worldbankgroup.org
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=C62C7FB4-E46F-4B09-9F61-221832C913BF
//artifactory.worldbank.org/artifactory/api/npm/itsdt-npm-virtual/:username=bhushan maheshwari
//artifactory.worldbank.org/artifactory/api/npm/itsdt-npm-virtual/:_password="QUtDcDhtWW9XcmFXUFh1c0x6OWNXYVNCbUhFdGs1RHA2VFA5WnFBSG5CaENINVpBY0VMbTNVdFlpaVFmMW5xMmNUdDZaV0RBTg=="
strict-ssl=false
legacy-peer-deps=true